services:
  web:
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile.web
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    depends_on:
      - api

  admin:
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./apps/admin/Dockerfile.admin
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    depends_on:
      - api
      - web

  space:
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./apps/space/Dockerfile.space
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    depends_on:
      - api
      - web

  live:
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./apps/live/Dockerfile.live
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    depends_on:
      - plane-db
      - plane-redis
      - plane-mq

  silo:
    env_file:
      - .env
    environment:
      IS_SELF_MANAGED: "1"
    build:
      context: .
      dockerfile: ./apps/silo/Dockerfile.silo
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    depends_on:
      plane-mq:
        condition: service_healthy

  monitor:
    env_file:
      - .env
    build:
      context: ./apps/monitor
      dockerfile: Dockerfile
      args:
        DOCKER_BUILDKIT: 1
    restart: always

  email:
    env_file:
      - .env
    build:
      context: ./apps/email
      dockerfile: Dockerfile
      args:
        DOCKER_BUILDKIT: 1
    restart: always

  api:
    env_file:
      - ./apps/api/.env
    environment:
      IS_SELF_MANAGED: "1"
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    command: ./bin/docker-entrypoint-api-ee.sh
    depends_on:
      - plane-db
      - plane-redis

  worker:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    command: ./bin/docker-entrypoint-worker.sh
    env_file:
      - ./apps/api/.env
    environment:
      IS_SELF_MANAGED: "1"
    depends_on:
      - api
      - plane-db
      - plane-redis
      - plane-mq

  beat-worker:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: always
    command: ./bin/docker-entrypoint-beat.sh
    env_file:
      - ./apps/api/.env
    environment:
      IS_SELF_MANAGED: "1"
    depends_on:
      - api
      - plane-db
      - plane-redis
      - plane-mq

  migrator:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: no
    command: ./bin/docker-entrypoint-migrator.sh
    env_file:
      - ./apps/api/.env
    environment:
      IS_SELF_MANAGED: "1"
    depends_on:
      - plane-db
      - plane-redis

  plane-db:
    image: postgres:15.7-alpine
    restart: always
    command: >
      bash -c "
        docker-entrypoint.sh postgres &
        sleep 10
        psql -U $$POSTGRES_USER -d $$POSTGRES_DB -c 'CREATE DATABASE silo;'
        wait
      "
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  plane-redis:
    image: valkey/valkey:7.2.11-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - redisdata:/data

  plane-mq:
    image: rabbitmq:management
    restart: always
    ports:
      - "15672:15672"
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST}
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  plane-minio:
    image: minio/minio
    restart: always
    command: server /export --console-address ":9090"
    volumes:
      - uploads:/export
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}

  # Comment this if you already have a reverse proxy running
  proxy:
    build:
      context: ./apps/proxy
      dockerfile: Dockerfile.ee
    restart: always
    ports:
      - ${LISTEN_HTTP_PORT}:80
      - ${LISTEN_HTTPS_PORT}:443
    environment:
      FILE_SIZE_LIMIT: ${FILE_SIZE_LIMIT:-5242880}
      BUCKET_NAME: ${AWS_S3_BUCKET_NAME:-uploads}
    depends_on:
      - web
      - api
      - space
      - admin

volumes:
  pgdata:
  redisdata:
  uploads:
  rabbitmq_data:
  mongodb_data:
