/* side menu */
#editor-side-menu {
  position: fixed;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease 0.2s;

  &.side-menu-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
/* end side menu */

/* drag handle */
#drag-handle {
  opacity: 1;

  &.drag-handle-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
/* end drag handle */

#column-list-drag-handle {
  position: fixed;
  z-index: 50;
  opacity: 1;
  transition: opacity 0.4s ease;

  &.column-list-drag-handle-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

/* ai handle */
#ai-handle {
  opacity: 1;

  &.handle-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
/* end ai handle */

.ProseMirror:not(.dragging)
  .ProseMirror-selectednode:not(.node-imageComponent):not(.node-image):not(.table-wrapper):not(.node-blockMath) {
  position: relative;
  cursor: grab;
  outline: none !important;
  box-shadow: none;

  --horizontal-offset: 5px;

  &:has(.issue-embed),
  &.table-wrapper {
    --horizontal-offset: 0px;
  }
  &:has(.editor-ai-block-node) {
    --horizontal-offset: 0px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(-1 * var(--horizontal-offset));
    height: calc(100% - 1.5px);
    width: calc(100% + (var(--horizontal-offset) * 2));
    background-color: --alpha(var(--background-color-accent-primary) / 20%);
    border-radius: 4px;
    pointer-events: none;
  }

  &.node-imageComponent,
  &.node-image,
  &.node-externalEmbedComponent,
  &.node-drawIoComponent,
  &.table-wrapper,
  &.node-blockMath {
    --horizontal-offset: 0px;

    &::after {
      background-color: --alpha(var(--background-color-surface-1) / 20%);
    }
  }
}

.ProseMirror node-image,
.ProseMirror node-imageComponent,
.ProseMirror node-blockMath,
.ProseMirror node-externalEmbedComponent,
.ProseMirror node-drawIoComponent {
  transition: filter 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    filter: brightness(90%);
  }
}
