repos:
  - repo: local
    hooks:
      - id: lint-check
        name: Ruff Linting Check
        entry: bash -c 'ruff check apps/pi/pi'
        language: system
        always_run: true
        pass_filenames: false
      - id: import-sort
        name: Sort Python Imports
        entry: bash -c 'ruff check --select I --fix apps/pi/pi'
        language: system
        always_run: true
        pass_filenames: false
      - id: code-format
        name: Format Python Code
        entry: bash -c 'ruff format --line-length 150 apps/pi/pi'
        language: system
        always_run: true
        pass_filenames: false
        fail_fast: false
        stages: [commit]  # Only run during commit, not during CI
      - id: cleanup-empty-lines
        name: Clean Empty Lines at EOF
        entry: bash -c 'for file in $(git diff --cached --name-only --diff-filter=ACM | grep -E "apps/pi/pi.*\.py$"); do sed -i "" -e :a -e "/^\n*$/{$d;N;};/\n$/ba" "$file"; done'
        language: system
        always_run: true
        pass_filenames: false
      - id: Type Check Python Code
        name: mypy
        entry: bash -c 'cd apps/pi && mypy --config-file mypy.ini pi'
        language: system
        always_run: true
        pass_filenames: false
