repos:
  - repo: local
    hooks:
      - id: lint-check
        name: Ruff Linting Check
        entry: ruff check .
        language: system
        always_run: true
        pass_filenames: false
      - id: import-sort
        name: Sort Python Imports
        entry: ruff
        args: ["check", "--select", "I", "--fix", "."]
        language: system
        always_run: true
        pass_filenames: false
      - id: code-format
        name: Format Python Code
        entry: ruff format
        args: ["--line-length", "150", "."]
        language: system
        always_run: true
        pass_filenames: false
        fail_fast: false
        stages: [commit]  # Only run during commit, not during CI
      - id: cleanup-empty-lines
        name: Clean Empty Lines at EOF
        entry: bash -c 'for file in $(git diff --cached --name-only --diff-filter=ACM | grep -E "\.py$"); do sed -i "" -e :a -e "/^\n*$/{$d;N;};/\n$/ba" "$file"; done'
        language: system
        always_run: true
        pass_filenames: false
      - id: Type Check Python Code
        name: mypy
        entry: mypy --config-file mypy.ini --show-error-codes
        language: system
        always_run: true
        pass_filenames: false
