name: Copy Right Check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "preview"
    types:
      - "opened"
      - "synchronize"
      - "ready_for_review"
      - "review_requested"
      - "reopened"
    # paths:  optional
    #   - "**/*.py"

jobs:
  licence-check:
    name: Licence Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"        
      - name: Install addlicense
        run: |
          go install github.com/google/addlicense@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Run addlicense
        run: |
          set -e
          echo "Running licence check..."
          addlicense -check -f COPYRIGHT.txt -ignore "**/migrations/**" $(git ls-files '*.py')
          echo "Licence check passed."
